<div class="container">
  <h1>Du bist an der Reihe: {{currentPlayerName}}!</h1>
</div>

<div class="container">
  <app-leaderboard></app-leaderboard>
  <app-dartboard></app-dartboard>

</div>

<div class="playerScore container">
  <app-player-score #first></app-player-score>
  <app-player-score #second ></app-player-score>
  <app-player-score #third></app-player-score>

  <br>
  Remaining Points: <app-player-score #remaining></app-player-score>
  <br>
  
  Checkout: 
  <app-player-score #firstFinish></app-player-score>
  <app-player-score #secondFinish ></app-player-score>
  <app-player-score #thirdFinish></app-player-score>
</div>

<div class="container">
  
</div>

<br>

<div class="container">
  <app-button label="Letzten Wurf entfernen" (clicked)="removeThrow()"></app-button>
  <app-button label="Wurf bestätigen" (clicked)="submitRound()"></app-button>

</div>

<br>

<div class="container">
  <app-button label="Zurück" (clicked)="goBack()"></app-button>
</div>


