<div class="container">
  <h1>Placeholder!</h1>
</div>

<div class="container">
  <app-leaderboard></app-leaderboard>
  <app-dartboard></app-dartboard>
</div>

<div class="container">
  <app-player-score #first></app-player-score>
  <app-player-score #second ></app-player-score>
  <app-player-score #third></app-player-score>
</div>

<div class="container">
  <app-button label="Entferne letzten Wurf" (clicked)="removeThrow()"></app-button>
</div>

<br>
  <a routerLink="/game-setup/">Back</a>
<br>

<div class="container">
</div>

<br>

