<h2 class="Modi">Spielmodus:</h2>
<app-button label="301" (clicked)="showRules('THREEHUNDREDONE')"></app-button>
<app-button label="501" (clicked)="showRules('FIVEHUNDREDONE')"></app-button>
<br><br>
<app-button label="Cricket" (clicked)="showRules('Cricket')"></app-button>
<app-button label="Shanghai" (clicked)="showRules('SHANGHAI')"></app-button>
<br><br>
<app-button label="Round the clock" (clicked)="showRules('ROUNDTHECLOCK')"></app-button>
<app-button  label="120 - runter und rauf" (clicked)="showRules('ONEHUNDREDTWENTYDOWNANDUPWARDS')"></app-button>
<br><br>
<app-text-field text="Regeln des ausgewählten Spielmodi."></app-text-field>


