<h2 class="Modi">Spielmodus:</h2>

  <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-primary">
      <input type="radio" (click)="showRules('THREEHUNDREDONE')" name="options" id="option1"> 301
    </label>
    <label class="btn btn-primary">
      <input type="radio" (click)="showRules('FIVEHUNDREDONE')" name="options" id="option2"> 501
    </label>
    <label class="btn btn-primary">
      <input type="radio" (click)="showRules('CRICKET')" name="options" id="option3" disabled> Cricket
    </label>
    <label class="btn btn-primary">
      <input type="radio" (click)="showRules('SHANGHAI')" name="options" id="option4" disabled> Shanghai
    </label>
    <label class="btn btn-primary">
      <input type="radio" (click)="showRules('ROUNDTHECLOCK')" name="options" id="option5" disabled> Round the clock
    </label>
    <label class="btn btn-primary">
      <input type="radio"  (click)="showRules('ONEHUNDREDTWENTYDOWNANDUPWARDS')" name="options" id="option6" disabled> 120 - runter und rauf
    </label>
  </div>

  <app-text-field text="Regeln des ausgewählten Spielmodi."></app-text-field>



